
body {
  background-image: url(SASA.png);
  text-align: center;
  color:#fff;
  

 }
 }
h1{
  font-size: 4px;
}
h3{
  font-size:45px;
  font-family:arial;

}
 .navbar{
    background: #fff;
    border-bottom: 5px solid #4F94CD;
    
    font-size: 15px;
    font-family: arial;
  }




}

.container{
	text-align: center;
	color: white;
}

footer{
   background-color: #424558;
    font-size: 15px;
    height: 50px;
    text-align: center;
    color: #CCC;
    line-height: 100%
}
